.expandable-section {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.expandable-section .expandable-title {
  cursor: pointer;
}
.expandable-section .expandable-content {
  overflow: hidden;
  display: none;
}
.expandable-section.open .expandable-content {
  display: block;
}
.cke_editable .expandable-section {
  border: 1px dashed #028edb;
  margin: 5px 0;
}
.cke_editable .expandable-content,
.cke_editable .expandable-title {
  display: block !important;
  border: 1px dashed #eb6c04;
  padding: 5px;
  margin: 5px;
}
.expandable-section .expandable-title {
  background: url(../images/expand.gif) no-repeat right top;
}
.expandable-section.open .expandable-title {
  background-image: url(../images/select.gif);
}
